.port--card{
    overflow:auto;
    min-width: 250px;
    min-height: 350px;
    text-shadow: 1px 1px 1px black;
}

.overlay {
    overflow:auto;
    background-color:rgba(0, 0, 0, 0.65);
}
.overlay:hover{
    background: linear-gradient(to right, rgba(0, 106, 132, 0.65),rgb(82, 9, 72,.65));
}
.port--description{
    font-size:larger;
}
.port--title{
    font-style: oblique;
}
.port--date{
    font-size:x-small;
}
.btn-danger{
    background-color:rgb(0,106,132);
    border-color:rgb(82, 9, 72);
    
}
.btn-danger:hover{
    background-color: rgb(82, 9, 72);
    border-color:rgb(0,106,132);
}
.btn-danger:focus{
    background-color: rgb(82, 9, 72);
    border-color: rgb(82, 9, 72,.65);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(82, 9, 72,.65);
}
.btn-danger:active{
    background-color: rgb(82, 9, 72);
    border-color: rgb(82, 9, 72,.65);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(82, 9, 72,.65);
}
.port--container{
    padding:.09% 2%;
}
.port--btn{
    border-color:blueviolet;
}
.icon--wifi{
    color: blueviolet;
}